PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=app
DB_PASSWORD=app
DB_NAME=app
GATEWAY_BASE_URL=https://api.branchpay.com.br/api
GATEWAY_TIMEOUT=10000
JWT_SECRET=lerapay-baas-segredo-desafio-tecnico
JWT_EXPIRES_IN=7d
GATEWAY_WEBHOOK_SECRET=
